<h2>User's posts</h2>

<ul>
  {{#each posts}}
    <li>
      {{this.title}}
      by
      {{this.author.username}}
    </li>
  {{/each}}
</ul>

<a href="/posts">Back to All Posts</a>
<br>
<a href="/post-create">Back to creating Posts</a>